.show_page {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredient {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredient-input{
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
